<?xml version="1.0" encoding="utf-8" ?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="config.xsd">
	<routingTags>
		<wayTags>
			<tag k="name" />
			<tag k="junction" v="roundabout" />
		</wayTags>
		<nodeTags>
		</nodeTags>
		<relationTags>
		</relationTags>
	</routingTags>
	<vehicles>
		<!-- new Vehicle -->
		<vehicle>
			<name>motorcar</name>
			<maxspeed>130</maxspeed>
			<!-- all allowed ways (key - value) -->
			<usableWayTags>
				<tag k="highway" v="motorway" speed="130" />
				<tag k="highway" v="motorway_link" speed="80" />
				<tag k="highway" v="trunk" speed="120" />
				<tag k="highway" v="trunk_link" speed="80" />
				<tag k="highway" v="primary" speed="130" />
				<tag k="highway" v="primary_link" speed="80" />
				<tag k="highway" v="secondary" speed="100" />
				<tag k="highway" v="secondary_link" speed="80" />
				<tag k="highway" v="tertiary" speed="50" />
				<tag k="highway" v="unclassified" speed="50" />
				<tag k="highway" v="road" speed="50" />
				<tag k="highway" v="residential" speed="50" />
				<tag k="highway" v="living_street" speed="10" />
				<tag k="highway" v="track" speed="50" />
			</usableWayTags>
			<restrictions>
				<wayTags>
					<tag k="motorcar" v="no" />
					<tag k="vehicle" v="no" />
					<tag k="access" v="no" />
					<tag k="access" v="agricultural" />
					<tag k="access" v="delivery" />
					<tag k="access" v="private" />
					<tag k="motorcar" v="agricultural" />
					<tag k="motorcar" v="delivery" />
					<tag k="motorcar" v="private" />
					<tag k="vehicle" v="agricultural" />
					<tag k="vehicle" v="delivery" />
					<tag k="vehicle" v="private" />
					<tag k="motor_vehicle" v="agricultural" />
					<tag k="motor_vehicle" v="delivery" />
					<tag k="motor_vehicle" v="private" />
				</wayTags>
				<relations>
					<tag k="type" v="restriction" />
					<tag k="restriction" v="no_left_turn" />
					<tag k="restriction" v="no_right_turn" />
					<tag k="restriction" v="no_straight_on" />
					<tag k="restriction" v="only_left_turn" />
					<tag k="restriction" v="only_right_turn" />

					<tag k="restriction" v="only_straight_on" />
					<member type="node" role="via" />
					<member type="way" role="from" />
					<member type="way" role="to" />

				</relations>
			</restrictions>
			<weightFactors>
				<stopTags>
					<stopNodeTags>
						<!-- conditional stops, with an expected time value -->
						<!-- traffic light -->
						<tag k="highway" v="traffic_signals" time="90" />
						<tag k="crossing" v="traffic_signals" time="90" />
						<!-- crossings -->
						<tag k="highway" v="crossing" time="30" />
						<tag k="crossing" v="uncontrolled" time="30" />
						<tag k="crossing" v="unmarked" time="10" />
						<tag k="crossing" v="island" time="10" />
						<tag k="railway" v="level_crossing" time="120" />

						<tag k="highway" v="give_way" time="15" />

						<tag k="highway" v="mini_roundabout" time="10" />
						<!-- predictable stops -->
						<tag k="highway" v="stop" time="15" />
						<tag k="barrier" v="toll_booth" time="300" />
					</stopNodeTags>
					<stopWayTags>
						<!-- stopsigns -->
						<tag k="stop" v="yes" time="30" />
						<tag k="stop" v="both" time="30" />
						<tag k="stop" v="all" time="30" />

						<tag k="junction" v="roundabout" time="20" />
					</stopWayTags>

				</stopTags>
				<speedreductions>
					<!-- speedreductions over a longer distance -->
					<wayTags>
						<tag k="junction" v="roundabout" percent="80" />
						<tag k="tracktype" v="grade2" percent="10" />
						<tag k="tracktype" v="grade3" percent="20" />
						<tag k="tracktype" v="grade4" percent="50" />
						<tag k="tracktype" v="grade5" percent="80" />
						<tag k="surface" v="unpaved" percent="30" />
						<tag k="suface" v="gravel" percent="30" />
						<tag k="surface" v="compacted" percent="20" />
						<tag k="surface" v="pebblestone" percent="30" />
						<tag k="surface" v="sand" percent="40" />
						<tag k="surface" v="dirt" percent="60" />
						<tag k="surface" v="mud" percent="70" />
					</wayTags>
					<nodeTags>
						<!-- speedreductions over a short distance, e.g. 10m -20 m -->
						<tag k="highway" v="speed_camera" percent="20" />
						<tag k="traffic_calming" v="yes" percent="50" />
						<tag k="traffic_calming" v="bump" percent="50" />
						<tag k="traffic_calming" v="chicane" percent="30" />
						<tag k="traffic_calming" v="cushion" percent="50" />
						<tag k="traffic_calming" v="hump" percent="50" />
						<tag k="traffic_calming" v="rumble_strip" percent="10" />
						<tag k="highway" v="mini_roundabout" percent="80" />
					</nodeTags>
					<dynamicWayTags>
						<tag k="maxspeed" />
					</dynamicWayTags>
				</speedreductions>
				<!-- ATTENTION: the following tags don't exist in OSM !!! -->
				<noOSMTags>
					<!-- time for turning left and right -->
					<tag k="right_turn" v="30" />
					<tag k="left_turn" v="60" />
				</noOSMTags>
			</weightFactors>
		</vehicle>
		<vehicle>
			<name>bicycle</name>
			<maxspeed>30</maxspeed>
			<usableWayTags>
				<tag k="highway" v="primary" speed="30" />
				<tag k="highway" v="primary_link" speed="30" />
				<tag k="highway" v="secondary" speed="20" />
				<tag k="highway" v="secondary_link" speed="20" />
				<tag k="highway" v="tertiary" speed="20" />
				<tag k="highway" v="unclassified" speed="20" />
				<tag k="highway" v="road" speed="20" />
				<tag k="highway" v="residential" speed="20" />
				<tag k="highway" v="living_street" speed="10" />
				<tag k="highway" v="track" speed="15" />
				<tag k="highway" v="path" speed="15" />
				<tag k="highway" v="cycleway" speed="30" />
			</usableWayTags>
			<restrictions>
				<wayTags>
					<tag k="access" v="no" />
					<tag k="access" v="private" />
					<tag k="bicycle" v="no" />
				</wayTags>
				<relations>

				</relations>
			</restrictions>
			<weightFactors>
				<stopTags>
					<stopNodeTags>
						<tag k="highway" v="traffic_signals" time="90" />
						<tag k="highway" v="give_way" time="45" />
						<tag k="railway" v="level_crossing" time="120" />
						<tag k="highway" v="crossing" time="20" />
						<tag k="junction" v="roundabout" time="10" />
					</stopNodeTags>
					<stopWayTags>

					</stopWayTags>
				</stopTags>
				<speedreductions>
					<wayTags>
						<tag k="suface" v="gravel" percent="30" />
						<tag k="surface" v="cobblestone" percent="30" />
						<tag k="surface" v="compacted" percent="20" />
						<tag k="surface" v="pebblestone" percent="30" />
						<tag k="surface" v="sand" percent="40" />
						<tag k="surface" v="dirt" percent="60" />
						<tag k="surface" v="mud" percent="70" />
						<tag k="tracktype" v="grade2" percent="10" />
						<tag k="tracktype" v="grade3" percent="20" />
						<tag k="tracktype" v="grade4" percent="50" />
						<tag k="tracktype" v="grade5" percent="80" />
					</wayTags>
					<nodeTags>
						<tag k="traffic_calming" v="yes" percent="50" />
						<tag k="traffic_calming" v="bump" percent="50" />
						<tag k="traffic_calming" v="hump" percent="50" />
						<tag k="traffic_calming" v="rumble_strip" percent="10" />
						<tag k="barrier" v="cycle_barrier" percent="80"/>
					</nodeTags>
					<dynamicWayTags>
						<tag k="incline" />
						<tag k="maxspeed" />
					</dynamicWayTags>
				</speedreductions>
				<noOSMTags>
					<!-- time for turning left and right -->
					<tag k="right_turn" v="30" />
					<tag k="left_turn" v="60" />
				</noOSMTags>
			</weightFactors>
		</vehicle>
		<vehicle>
			<name>foot</name>
			<maxspeed>10</maxspeed>
			<usableWayTags>
				<tag v="secondary" k="highway" speed="5" />
				<tag v="secondary_link" k="highway" speed="5" />
				<tag v="tertiary" k="highway" speed="5" />
				<tag v="unclassified" k="highway" speed="5" />
				<tag v="road" k="highway" speed="5" />
				<tag v="residential" k="highway" speed="5" />
				<tag v="living_street" k="highway" speed="5" />
				<tag v="track" k="highway" speed="5" />
				<tag v="path" k="highway" speed="5" />
				<tag v="cycleway" k="highway" speed="5" />
				<tag v="pedestrian" k="highway" speed="5" />
				<tag v="footway" k="highway" speed="5" />
			</usableWayTags>
			<restrictions>
				<wayTags>
					<tag k="foot" v="no" />
				</wayTags>
				<relations>
				</relations>
			</restrictions>
			<weightFactors>
				<stopTags>
					<stopNodeTags>
						<!-- would be considered even when no road is crossed -->
						<!-- <tag k="crossing" v="traffic_signals" time="60" /> -->
						<tag k="railway" v="crossing" time="120" />
						<!-- would be considered even when no road is crossed -->
						<!-- <tag k="highway" v="crossing" time="20" /> -->
					</stopNodeTags>
					<stopWayTags>

					</stopWayTags>
				</stopTags>
				<speedreductions>
					<wayTags></wayTags>
					<nodeTags></nodeTags>
					<dynamicWayTags></dynamicWayTags>
				</speedreductions>
				<noOSMTags></noOSMTags>
			</weightFactors>
		</vehicle>

	</vehicles>
</config>
