* {
  padding: 0;
  margin: 0;
}

body {
  padding: 5px;	
}

#leftDiv {
  position:absolute;
  width:220px;
  padding:5px;
}

#map {
  position:absolute;
  left:220px;
  border: 1px solid black;
}

#leftDiv label {
  display: inline-block;
  width: 30px;
}

#leftDiv input {
  display: inline-block;
  width: 165px;
  margin: 5px 0;
}

#leftDiv .mfbutton {
  margin-left: 34px;
}

#menu_contentDiv {
  padding: 0px;
  font-family: sans-serif;
  color: blue;
}

#menu a:hover {
  text-decoration: underline;
}

#menu_GroupDiv {
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

#popupmenu {
  border-bottom: 1px solid #444;
  padding-bottom: 1px;
}

#TurnByTurn {
  height: 100%;
  overflow: scroll;
}